:root {
    --font-main: 'Cairo';
    --font-secondary: 'Cairo';
    --color-primary: #10606c;
    --color-primary-dark: #003945;
    --color-primary-light: #368692;
    --color-primary-reverse: #dcffff;
    --dark-bg-main: #ffffff;
    --dark-bg-sec: #f5f5f5;
    --dark-text-main: #10606c;
    --dark-text-sec: #317882;
    --dark-grey: #ffffff;
    --text-btn: #ffffff;
    --bg-color: #ffffff;
}
